<mat-card class="main-content">

  <mat-card-content>
    <mat-card-title class="main-title">
      Forums
    </mat-card-title>
    <br>
    <form #ForumsForm="ngForm">
      <mat-form-field class="example-full-width">
        <mat-label>Day of forum</mat-label>
        <mat-select>
          <mat-option *ngFor="let day of days" [value]="day">
            {{day.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button type="submit" mat-raised-button (click)="getResult()" [disabled]="ForumsForm.invalid">
        Calculate this month's forum!
      </button>
    </form>
    <br>
    Forum history:
    <table mat-table [dataSource]="forums">
      <mat-text-column name="day"></mat-text-column>
      <tr mat-header-row *matHeaderRowDef="forumsTableColumnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: forumsTableColumnsToDisplay"></tr>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </table>

    Users:
    <table mat-table [dataSource]="users">
      <mat-text-column name="day"></mat-text-column>
      <tr mat-header-row *matHeaderRowDef="usersTableColumnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: usersTableColumnsToDisplay"></tr>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </table>
  </mat-card-content>
</mat-card>
