.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  .main-sidenav-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    footer {
      color: black;
      font-family: Brush Script MT, Brush Script Std, cursive;
      padding-bottom: 8px;
      a {
        text-decoration: none;
      }
    }

    .main-card {
      height: fit-content;
      width: 70%;
      margin: 24px auto 24px auto;
      text-align: center;

      .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        ::ng-deep .mat-card-actions {
          padding: 0;
        }

        .main-title {
          display: flex;
          align-items: center;
          font-size: 70px;
          font-family: Brush Script MT, Brush Script Std, cursive;
        }

        .main-page-tab-group {
          width: 90%;

          ::ng-deep .mat-tab-body-content {
            overflow: hidden;
          }
        }
      }
    }
  }
}
