.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  .main-sidenav-content {
    display: flex;
    justify-items: center;

    .main-card {
      width: 50%;
      margin: auto;
      text-align: center;

      .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        table, form {
          margin-top: 8px;
          margin-bottom: 8px;
        }

        form {
          display: flex;
          flex-direction: column;
        }

        table {
          width: 75%;

          .mat-row, .mat-header-row, .mat-footer-row {
            padding-left: 24px;
            padding-right: 24px;
          }

          .mat-cell:first-child, .mat-footer-cell:first-child, .mat-header-cell:first-child {
            padding-left: 0;
          }

          .mat-cell:last-child, .mat-footer-cell:last-child, .mat-header-cell:last-child {
            padding-right: 0;
          }

          .mat-sort-header-container {
            display: flex;
            justify-content: center;
          }

          tr td {
            white-space: nowrap;
          }
        }

        .main-title {
          text-align: center;
        }
      }
    }
  }
}
