.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  .main-sidenav-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    footer {
      color: black;
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }

    .main-card {
      height: fit-content;
      width: 50%;
      margin: 24px auto 24px auto;
      text-align: center;

      .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .main-title {
          display: flex;
          align-items: center;
          text-align: center;
        }

        .main-page-tab-group {
          width: 85%;

          ::ng-deep .mat-tab-body-content {
            overflow: hidden;
          }
        }
      }
    }
  }
}
