<h2>Users</h2>
<table mat-table matTableExporter matSort [dataSource]="usersDataSource" matSortActive="forumCount"
       matSortDirection="asc" #sortUsers #exporter="matTableExporter">

  <!-- Username Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell mat-sort-header="username" *matHeaderCellDef> Username</th>
    <td mat-cell *matCellDef="let user">
      <button mat-icon-button
              class="regular-cursor auto-width"
              *ngIf="user.firstPlace || user.secondPlace || user.thirdPlace"
              [matTooltip]="user.firstPlace ? userPlaceDescriptions.firstPlace : user.secondPlace ? userPlaceDescriptions.secondPlace : user.thirdPlace ? userPlaceDescriptions.thirdPlace : ''"
              [matTooltipPosition]="'above'"
              [disableRipple]="true">
        {{ user.firstPlace ? '🥇' : user.secondPlace ? '🥈' : user.thirdPlace ? '🥉' : '' }}
      </button> {{user.username}}
    </td>
  </ng-container>

  <!-- Number Of Forums Column -->
  <ng-container matColumnDef="forumCount">
    <th mat-header-cell mat-sort-header="forum_count" *matHeaderCellDef> Number of forums</th>
    <td mat-cell *matCellDef="let user"> {{user.forum_count}} </td>
  </ng-container>

  <!-- Latest Forum Column -->
  <ng-container matColumnDef="latestForum">
    <th mat-header-cell mat-sort-header="latestForumDate" *matHeaderCellDef> Latest Forum</th>
    <td mat-cell *matCellDef="let user" [ngClass]="{'disabled-text': !(user.latest_forum?.date)}"> {{user.latest_forum?.date ? (user.latest_forum?.date | date:'dd/MM/yyyy') : 'N/A' }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="usersTableColumnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: usersTableColumnsToDisplay;"></tr>
</table>
<h3>Export Table</h3>
<div class="export-section">
  <button mat-raised-button class="center-aligned-button" color="accent" (click)="exporter.exportTable(ExportType.XLSX)">Excel (XLSX)</button>&nbsp;
  <button mat-raised-button class="center-aligned-button" color="accent" (click)="exporter.exportTable(ExportType.CSV)">CSV</button>&nbsp;
  <button mat-raised-button class="center-aligned-button" color="accent" (click)="exporter.exportTable(ExportType.JSON)">JSON</button>&nbsp;
  <button mat-raised-button class="center-aligned-button" color="accent" (click)="exporter.exportTable(ExportType.TXT)">TXT</button>
</div>
